.text-white{
	color: white;
}

.form{
	display: flex;
	flex-direction: column;
}

input{
	width: 20rem;
}

.saris-title{
	margin: 0;
	padding: 0.5rem;
	color: white;
	z-index: 0;
}

.saris-description{
	max-width: 50rem;
	text-align: center;
}

.all-forms{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.data-source-selector-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}


.form-raw-data-json-box{
	width: 70%;
	max-width: 40rem;
	height: 10rem;
}


input[type=text], select{
	width: 100%;
	padding: 6px 10px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=number], select{
	width: 100%;
	padding: 6px 10px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

  input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 7px 10px;
	margin: 4px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }

  .switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #4CAF50;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #45a049;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 17px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }