.scoreboardTable {
  height: 100vh;
}

.scoreboardTableProblemRowFirstChild > :first-child {
  margin-left: 4.3%;
}

.scoreboardTableGrayRow {
  background-color: #19191a;
}

.scoreboardTableBlackRow {
  background-color: #0e0e0f;
}

.scoreboardTableSelectedRow {
  background-color: #2873ed;
}

.scoreboardTableSelectedRowFinished {
  background-color: #255eba;
}
