.AppBackground {
  background-color: #000000;
  min-height: 100vh;
}

.AppBackground > div:first-of-type {
    height: 970px;
}

.AppBackground > div:last-of-type {
    height: 100%;
    background-color: #000000;
}

@media screen and (max-width: 970px) {
    body > div:nth-of-type(2) {
        height: 970px;
    }
}
