body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

.AppBackground {
  color: white;
  min-height: 100vh;
  z-index: -100;
  height: 100%;
  width: 100%;
}
