.AppBackground {
  background-color: #000000;
  color: white;
  min-height: 100vh;
  z-index: -100;
}

.AppBackground > div:first-of-type {
    height: 970px;
}

.AppBackground > div:last-of-type {
    height: 100%;
    background-color: #000000;
}

@media screen and (max-width: 970px) {
    body > div:nth-of-type(2) {
        height: 970px;
    }
}
